include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappeframework_com *.css
recursive-include frappeframework_com *.csv
recursive-include frappeframework_com *.html
recursive-include frappeframework_com *.ico
recursive-include frappeframework_com *.js
recursive-include frappeframework_com *.json
recursive-include frappeframework_com *.md
recursive-include frappeframework_com *.png
recursive-include frappeframework_com *.py
recursive-include frappeframework_com *.svg
recursive-include frappeframework_com *.txt
recursive-exclude frappeframework_com *.pyc