include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include frappe_docs *.css
recursive-include frappe_docs *.csv
recursive-include frappe_docs *.html
recursive-include frappe_docs *.ico
recursive-include frappe_docs *.js
recursive-include frappe_docs *.json
recursive-include frappe_docs *.md
recursive-include frappe_docs *.png
recursive-include frappe_docs *.py
recursive-include frappe_docs *.svg
recursive-include frappe_docs *.txt
recursive-exclude frappe_docs *.pyc